.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/********************* Header Styles *********************/
.App-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  /* padding-left: 100%;
  padding-right: 100%; */
  margin: 0px;
  font-size: 1.5em;
}

.topHalf {
  padding-right: 50px;
  padding-bottom: 10px;
}

.bottomHalf {
  padding-left: 50px;
  padding-top: 10px;
}

#dashes {
  width: 100%;
  margin: 0px;
  border-bottom: 5px dashed yellow;
  border-top: none;
}

.App-intro {
  font-size: large;
}
/********************* Root Styles *********************/

#rootLabel {
  /* background-color: rgb(102, 186, 222); */
  text-align: left;
  margin: 10px 5px 10px 5px;
  padding: 5px;
  /* border-radius: 5px; */
  border-bottom: 3px solid rgb(102, 186, 222);
}

/********************* Branch Styles *********************/
.branchContainer {

 margin-left: 25px;
 border-left: 1px solid black;
}

.branchTitleContainer {
  margin-right:100%;
  width: 100%;
  display:inline-flex;
  align-items:center;
  justify-content: flex-start;
}

.twig {
  border: 1px solid black;
  margin: 0px;
  /* height: 1px; */
  width: 100px;
  /* margin-right: 0px; */
}

.branchTitle {
  text-decoration: underline rgb(238,99,93);
  margin-left: 5px;
}

.branchRange {
  background:  rgb(238,99,93);
  color: white;
  /* margin-left: 10%; */
  margin-left: 200px;
  padding: 5px;
  border-radius: 5px;
}

/********************* EditForm Styles *********************/
.editForm {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  border: 1px solid grey;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.numberInput {
  width: 30px;
}

button {
  border-radius: 5px;
  border: none;
}

button:focus {
  outline: none;
}
.update {
  background: rgb(63, 220, 116);
}
.delete {
  background: rgb(255, 73, 73);
}
.cancel {
  background: rgb(255, 228, 73);
}


/********************* Leaf Styles *********************/
.leafContainer {
  width: 100px;
  text-align: left;
  margin-left: 10%;
  margin-top: 0px;
  border-left: 1px solid black;
}
.leafNum {
  margin-top: 0px;
  padding-left: 15px;
}